.checkout {
  display: flex;
  justify-content: center;
}

.checkout-section {
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.checkout-section:last-of-type {
  border: 1px solid var(--text-secondary);
  border-radius: 4px;
}

.checkout-section__menu {
  border-bottom: 1px solid var(--text-secondary);
  margin-bottom: 2rem;
}

.checkout-section__menu:last-of-type {
  border-bottom: none;
}

.checkout-section h2 {
  margin-bottom: 1rem;
  letter-spacing: 0.3rem;
  font-size: 2.5rem;
}

.checkout-section p {
  margin-bottom: 1rem;
  padding: 1rem;
}

.checkout-section__item {
  display: flex;
  align-items: center;
}

.checkout-section__item img {
  margin: 1rem;
  width: 3rem;
  height: 3rem;
  object-fit: contain;
}

.checkout-section__item p:last-of-type {
  margin-left: auto;
}

.checkout-section__stripe button {
  width: 100%;
  margin: 1rem 0 0 0;
}

@media (max-width: 700px) {
  .checkout {
    flex-direction: column;
  }
}
