.order-process {
  padding: 1rem;
  margin: auto;
  display: flex;
  align-items: center;
  border: 2px solid var(--text-secondary);
  border-radius: 4px;
  margin-bottom: 2rem;
}

.order-process div {
  margin: auto;
  cursor: pointer;
}

.order-process_link-disabled {
  pointer-events: none;
  cursor: default;
  color: var(--text-secondary);
}
