.address-form {
  width: 70%;
  margin: auto;
  padding: 2.5rem;
}

.address-form h2 {
  letter-spacing: 0.3rem;
  font-size: 3rem;
  margin: 0 0 3rem 0;
}

.address-form button {
  margin: 2rem 0 0 0;
}
