.product-reviews {
  position: relative;
  overflow: hidden;
  border-top: 2px solid var(--text-secondary);
  transition: all 200ms ease;
  min-height: 30rem;
}

.product-reviews__main {
  margin: 2rem;
}

.product-reviews__header {
  display: flex;
  align-items: center;
}

.product-reviews__header h3 {
  margin-right: 1rem;
}

.product-reviews__list {
  padding: 1rem 0 0 1rem;
}

.product-reviews__toggle {
  position: absolute;
  top: 1.5rem;
  right: 2rem;
  font-size: 3.5rem;
  cursor: pointer;
  z-index: 20;
  transition: transform 200ms;
}

.product-reviews__write-form {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--bg-bright);
  border-radius: 5px;
  transition: all 200ms ease-out;
  z-index: 10;
}

.product-reviews__write-form form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.product-reviews__optional {
  position: relative;
  margin: 1.5rem 0 0.5rem 0;
}

.product-reviews__image-upload {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.5rem 1rem;
  background: var(--bg-bright);
  border: 1px solid var(--text-secondary);
  border-radius: 4px;
  cursor: pointer;
}

.product-reviews__image-upload i {
  font-size: 2.5rem;
}

.product-reviews__image-number {
  position: absolute;
  bottom: 0;
  right: 5rem;
}

/* CSS Transition */

.fade-in-enter {
  opacity: 0;
}

.fade-in-enter-active {
  opacity: 1;
}

.fade-in-exit {
  opacity: 1;
}

.fade-in-exit-active {
  opacity: 0;
}

/*  */

.spin-right-enter {
  transform: rotate(135deg);
}

.spin-right-enter-active {
  transform: rotate(0deg);
}

.spin-right-exit {
  opacity: 0;
}

/*  */

.spin-left-enter {
  transform: rotate(-135deg);
}

.spin-left-enter-active {
  transform: rotate(0deg);
}

.spin-left-exit {
  opacity: 0;
}

@media (max-width: 400px) {
  .product-reviews__toggle {
    font-size: 3rem;
    top: 2rem;
  }

  .product-reviews__space {
    height: 4rem;
  }
}
