.my-products {
}

.my-products__add-btn {
  display: flex;
}

.my-products__add-btn a {
  margin: 1rem 2rem 1rem auto;
  background-color: rgb(255, 51, 0);
  border-color: rgb(255, 51, 0);
}

.my-products__message {
  padding: 2rem;
  width: 70%;
  margin: 1rem auto 0 auto;
  border: 2px solid var(--text-secondary);
  border-radius: 4px;
  text-align: center;
}

.my-products ul {
  width: 80%;
  margin: auto;
}
