.profile {
  width: 70%;
  max-width: 60rem;
  margin: auto;
}

.profile form {
  display: flex;
  justify-content: center;
}

.profile__form-block {
  margin: 0 1rem;
}

.profile button {
  display: block;
  margin-left: auto;
}

@media (max-width: 400px) {
  .profile form {
    flex-direction: column;
  }
}
