.profile {
  width: 95%;
  max-width: 60rem;
  margin: auto;
}

.profile form {
  display: flex;
}

.profile button {
  margin-left: auto;
}

@media (max-width: 400px) {
  .profile form {
    flex-direction: column;
  }
}