.navbar {
  display: flex;
  width: 100%;
  height: 6rem;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background: var(--bg-dark);
  border-bottom: 1px solid var(--text-secondary);
  padding: 0 1rem;
  z-index: 30;
}

.navbar-nav {
  height: 100%;
  display: block;
  margin: 0 1rem;
}

.navbar-nav__login a {
  color: var(--text-secondary);
  text-decoration: none;
  padding: 0.5rem;
  font-weight: 600;
}

.navbar-nav__login a:active,
.navbar-nav__login a.active {
  color: var(--text-reverse);
}

@media (max-width: 700px) {
  .navbar-nav {
    display: none;
  }
}
