.validation-error {
  margin: 2rem auto;
  display: flex;
  width: 90%;
  height: 3rem;
  color: var(--text-danger);
  border: 1px solid var(--text-danger);
  border-radius: 4px;
  background: var(--bg-danger);
  text-align: center;
  align-items: center;
  justify-content: center;
}
