.checkout-steps {
  padding: 1rem;
  display: flex;
  align-items: center;
  border: 2px solid var(--text-secondary);
  border-radius: 4px;
}

.checkout-steps a {
  margin: auto;
}

.checkout-steps a.active {
}

.checkout-steps_link-disabled {
  pointer-events: none;
  cursor: default;
  color: var(--text-secondary);
}
