.cart {
  list-style: none;
  display: flex;
}

.cart-message {
  padding: 2rem;
  width: 70%;
  margin: 1rem auto 0 auto;
  border: 2px solid var(--text-secondary);
  border-radius: 4px;
  text-align: center;
}

.cart-message h2 {
  margin-bottom: 1rem;
}

.cart-message a {
  color: var(--text-link);
}

