.cart-nav {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 2rem;
}

.cart-nav svg {
  width: 3rem;
  height: 3rem;
}

.cart-nav__number {
  position: absolute;
  top: -.3rem;
  right: .3rem;
  color: #fd662b;
  border-radius: 50%;
  width: 2rem;
  text-align: center;
}