.login__header {
  color: var(--text-primary);
  text-align: center;
  margin: 2rem 0;
}

.login {
  width: 100%;
  max-width: 40rem;
  margin: 10rem auto;
  text-align: center;
}

.login input {
  width: 90%;
  justify-content: center;
  text-align: center;
}

.login button {
  margin: 1rem;
}

.login form {
  margin-bottom: 1rem;
}
