.reset-password__error {
  width: 95%;
  max-width: 60rem;
  margin: auto;
  text-align: center;
  padding: 2rem;
  font-size: 2rem;
  border: 2px solid var(--text-secondary);
  border-radius: 5px;
}

.reset-password__description {
  margin-top: 1rem;
}