.signup {
  width: 100%;
  max-width: 40rem;
  margin: auto;
  text-align: center;
}

.signup input {
  width: 90%;
  margin: auto;
  text-align: center;
}

.signup button {
  margin: 1rem;
}

.signup form {
  margin-bottom: 1rem;
}

.signup__header {
  color: var(--text-primary);
  text-align: center;
  margin: 2rem 0;
}
