:root {
  --bg-dark: #292929;
  --bg-bright: #ffffff;
  --bg-success: #3fbe5d;
  --bg-danger: #ffd1d1;
  --text-primary: #252525;
  --text-secondary: #999999;
  --text-reverse: #ffffff;
  --text-link: #0094f7;
  --text-success: #269e42;
  --text-danger: #dc3545;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  background-color: var(--bg-bright);
  color: black;
}

main {
  min-height: calc(100vh - 16rem);
  margin-top: 9rem;
  width: 100%;
}

footer {
  position: relative;
  width: 100%;
  bottom: 0;
  overflow: hidden;
  height: 7rem;
  padding: 2rem;
  text-align: center;
  color: var(--text-secondary);
  font-size: 1.3rem;
}

a {
  color: var(--text-primary);
  text-decoration: none;
  transition: filter 200ms;
}

a:hover {
  filter: brightness(1.2);
}

li {
  list-style: none;
}

.center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
