.order {
  display: flex;
  width: 95%;
  margin: auto;
}

.order-section {
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.order-section:last-of-type {
  border: 1px solid var(--text-secondary);
  border-radius: 4px;
  margin: 2rem;
}

.order-section__menu {
  border-bottom: 1px solid var(--text-secondary);
  padding: 2rem;
}

.order-section__menu:last-of-type {
  border-bottom: none;
}

.order-section h2 {
  margin-bottom: 1rem;
  letter-spacing: 0.3rem;
  font-size: 2.5rem;
}

.order-section p {
  padding: 1rem;
}

.order-section__item {
  display: flex;
  align-items: center;
}

.order-section__item img {
  margin: 1rem;
  width: 3rem;
  height: 3rem;
  object-fit: contain;
}

.order-section__item p:last-of-type {
  margin-left: auto;
}

@media (max-width: 700px) {
  .order {
    flex-direction: column;
  }
}
